

.App{
   background-color: black;
   position: relative;
}

.mainWrapper{
    position: absolute;
    background-color: yellow;
    width: 800px;
    height: 500px;


    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -1%)
}

.answerAndDescr {
  display: flex;
}


.nextLevelButton {
  margin-left: 7%;
    width: 700px;
  background-color: red;
  color: green;
  cursor: not-allowed;
}



